body {
	color:#000000;
	background-color:#58ACFA;
	margin:0;
}

#container {
background-color:#58ACFA;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
	}

 img {
	border:none;
	border-radius:5%;



}
div
{
background-color:#58ACFA;
text-align:center;

}